<?xml version="1.0" encoding="utf-8" ?>

<SmartSqlMap Scope="ArticleMapper" xmlns="http://SmartSql.net/schemas/SmartSqlMap.xsd">
  <ResultMaps>
    <ResultMap Id="ArticleResultMap">
      <Result Column="ARTICLE_ID" Property="ArticleId" />
      <Result Column="BOARD_ID" Property="BoardId" />
      <Result Column="ARTICLE_TITLE" Property="ArticleTitle" />
      <Result Column="ARTICLE_CONTENT" Property="ArticleContent" />
      <Result Column="ARTICLE_WRITER_ID" Property="ArticleWriterId" />
      <Result Column="ARTICLE_WRITER_NICKNAME" Property="ArticleWriterNickname" />
      <Result Column="EMPLOYEE_NAME" Property="EmployeeName" />
      <Result Column="CREATE_DT" Property="CreateDt" />
      <Result Column="IS_SYSTEM_ADMIN" Property="IsSystemAdmin" />
      <Result Column="PREV_NEXT_FLAG" Property="PrevNextFlag" />
    </ResultMap>
  </ResultMaps>

  <Statements>

    <!-- 게시글 목록을 조회한다. -->
    <Statement Id="ListArticle" ResultMap="ArticleResultMap">
      /* ArticleMapper.ListArticle */

      SELECT
        A.ARTICLE_ID,
        A.ARTICLE_TITLE,
        A.ARTICLE_WRITER_ID,
        A.ARTICLE_WRITER_NICKNAME,
        E.EMPLOYEE_NAME,
        (SELECT COUNT(1)
         FROM CO_USER_ROLE UR
         WHERE UR.USER_ID = E.USER_ID
           AND UR.ROLE_ID = 'ROLE_SYSTEM_ADMIN'
        ) AS IS_SYSTEM_ADMIN,
        CASE WHEN DATE(A.CREATE_DT) = DATE(SYSDATE()) THEN DATE_FORMAT(A.CREATE_DT, '%H:%i:%s')
             ELSE DATE_FORMAT(A.CREATE_DT, '%Y-%m-%d %H:%i:%s')
        END AS CREATE_DT
      FROM CO_ARTICLE A
      LEFT JOIN CO_BOARD B ON B.BOARD_ID = A.BOARD_ID
      LEFT JOIN HM_EMPLOYEE E ON E.USER_ID = A.ARTICLE_WRITER_ID
      WHERE 1=1
        AND A.DELETE_YN = 'N'
        AND B.DELETE_YN = 'N'
        AND B.USE_YN = 'Y'
        <IsNotEmpty Property="BoardId">
        AND A.BOARD_ID = @BoardId
        </IsNotEmpty>
      ORDER BY A.CREATE_DT DESC
    </Statement>

    <!-- 이전/다음 게시글 목록을 조회한다. -->
    <Statement Id="ListPrevNextArticle" ResultMap="ArticleResultMap">
      /* ArticleMapper.ListPrevNextArticle */

      SELECT
        B.ARTICLE_ID,
        B.BOARD_ID,
        B.ARTICLE_TITLE,
        B.PREV_NEXT_FLAG
      FROM CO_ARTICLE A
      INNER JOIN (
        (SELECT
          ARTICLE_ID, BOARD_ID, ARTICLE_TITLE, 'PREV' AS PREV_NEXT_FLAG
        FROM CO_ARTICLE
        WHERE ARTICLE_ID &lt; @ArticleId
          AND BOARD_ID = @BoardId
          AND DELETE_YN = 'N'
        ORDER BY CREATE_DT DESC LIMIT 1)

        UNION ALL
        
        (SELECT
          ARTICLE_ID, BOARD_ID, ARTICLE_TITLE, 'NEXT' AS PREV_NEXT_FLAG
        FROM CO_ARTICLE
        WHERE ARTICLE_ID &gt; @ArticleId
          AND BOARD_ID = @BoardId
          AND DELETE_YN = 'N'
          ORDER BY CREATE_DT LIMIT 1)
      ) B ON B.ARTICLE_ID = A.ARTICLE_ID
    </Statement>

    <!-- 게시글을 조회한다. -->
    <Statement Id="GetArticle" ResultMap="ArticleResultMap">
      /* ArticleMapper.GetArticle */

      SELECT
        A.ARTICLE_ID,
        A.BOARD_ID,
        A.ARTICLE_TITLE,
        A.ARTICLE_CONTENT,
        A.ARTICLE_WRITER_ID,
        A.ARTICLE_WRITER_NICKNAME,
        E.EMPLOYEE_NAME,
        (SELECT COUNT(1)
         FROM CO_USER_ROLE UR
         WHERE UR.USER_ID = E.USER_ID
           AND UR.ROLE_ID = 'ROLE_SYSTEM_ADMIN'
        ) AS IS_SYSTEM_ADMIN,
        CASE WHEN DATE(A.CREATE_DT) = DATE(SYSDATE()) THEN DATE_FORMAT(A.CREATE_DT, '%H:%i:%s')
             ELSE DATE_FORMAT(A.CREATE_DT, '%Y-%m-%d %H:%i:%s')
        END AS CREATE_DT
      FROM CO_ARTICLE A
      LEFT JOIN HM_EMPLOYEE E ON E.USER_ID = A.ARTICLE_WRITER_ID
      WHERE A.ARTICLE_ID = @ArticleId
    </Statement>

    <!-- 게시글을 추가한다. -->
    <Statement Id="AddArticle">
      /* ArticleMapper.AddArticle */

      INSERT INTO CO_ARTICLE (
        BOARD_ID,
        ARTICLE_TITLE,
        ARTICLE_CONTENT,
        ARTICLE_WRITER_ID,
        ARTICLE_WRITER_NICKNAME,
        CREATER_ID
      )
      VALUES (
        @BoardId,
        @ArticleTitle,
        @ArticleContent,
        @ArticleWriterId,
        @ArticleWriterNickname,
        @CreaterId
      )
      ;SELECT LAST_INSERT_ID()
    </Statement>

    <!-- 게시글을 수정한다. -->
    <Statement Id="UpdateArticle">
      /* ArticleMapper.UpdateArticle */

      UPDATE CO_ARTICLE
        SET
          ARTICLE_TITLE = @ArticleTitle,
          ARTICLE_CONTENT = @ArticleContent,
          UPDATER_ID = @UpdaterId,
          UPDATE_DT = SYSDATE()
      WHERE ARTICLE_ID = @ArticleId
    </Statement>

    <!-- 게시글을 삭제한다. -->
    <Statement Id="RemoveArticle">
      /* ArticleMapper.RemoveArticle */

      UPDATE CO_ARTICLE
        SET
          DELETE_YN = 'Y',
          UPDATER_ID = @UpdaterId,
          UPDATE_DT = SYSDATE()
      WHERE ARTICLE_ID = @ArticleId
    </Statement>
    
  </Statements>
</SmartSqlMap>