<?xml version="1.0" encoding="utf-8" ?>

<SmartSqlMap Scope="ArticleMapper" xmlns="http://SmartSql.net/schemas/SmartSqlMap.xsd">
  <ResultMaps>
    <ResultMap Id="ArticleResultMap">
      <Result Column="ARTICLE_ID" Property="ArticleId" />
      <Result Column="ARTICLE_TITLE" Property="ArticleTitle" />
      <Result Column="ARTICLE_CONTENT" Property="ArticleContent" />
      <Result Column="ARTICLE_WRITER_ID" Property="ArticleWriterId" />
      <Result Column="ARTICLE_WRITER_NAME" Property="ArticleWriterName" />
      <Result Column="IS_SYSTEM_ADMIN" Property="IsSystemAdmin" />
      <Result Column="CREATE_DT" Property="CreateDt" />
    </ResultMap>
  </ResultMaps>

  <Statements>

    <!-- 게시글 목록을 조회한다. -->
    <Statement Id="ListArticle" ResultMap="ArticleResultMap">
      /* ArticleMapper.ListArticle */

      SELECT
        A.ARTICLE_ID,
        A.ARTICLE_TITLE,
        A.ARTICLE_CONTENT,
        A.ARTICLE_WRITER_ID,
        CASE WHEN A.ARTICLE_WRITER_NICKNAME IS NOT NULL THEN A.ARTICLE_WRITER_NICKNAME
             ELSE E.EMPLOYEE_NAME
        END AS ARTICLE_WRITER_NAME,
        (SELECT COUNT(1)
         FROM CO_USER_ROLE UR
         WHERE UR.USER_ID = E.USER_ID
           AND UR.ROLE_ID = 'ROLE_SYSTEM_ADMIN'
        ) AS IS_SYSTEM_ADMIN,
        CASE WHEN DATE(A.CREATE_DT) = DATE(SYSDATE()) THEN DATE_FORMAT(A.CREATE_DT, '%H:%i:%s')
             ELSE DATE_FORMAT(A.CREATE_DT, '%Y-%m-%d %H:%i:%s')
        END AS CREATE_DT
      FROM CO_ARTICLE A
      LEFT JOIN CO_BOARD B ON B.BOARD_ID = A.BOARD_ID
      LEFT JOIN HM_EMPLOYEE E ON E.USER_ID = A.ARTICLE_WRITER_ID
      WHERE 1=1
        AND A.DELETE_YN = 'N'
        AND B.DELETE_YN = 'N'
        AND B.USE_YN = 'Y'
        <IsNotEmpty Property="BoardId">
        AND A.BOARD_ID = @BoardId
        </IsNotEmpty>
      ORDER BY A.CREATE_DT DESC
    </Statement>
    
  </Statements>
</SmartSqlMap>