<?xml version="1.0" encoding="utf-8" ?>

<SmartSqlMap Scope="CodeMapper" xmlns="http://SmartSql.net/schemas/SmartSqlMap.xsd">
  <ResultMaps>
    <ResultMap Id="CodeResultMap">
      <Result Column="CODE_ID" Property="CodeId" />
      <Result Column="UP_CODE_ID" Property="UpCodeId" />
      <Result Column="CODE_VALUE" Property="CodeValue" />
      <Result Column="CODE_NAME" Property="CodeName" />
      <Result Column="CODE_CONTENT" Property="CodeContent" />
      <Result Column="CODE_ORDER" Property="CodeOrder" />
      <Result Column="CODE_DEPTH" Property="CodeDepth" />
      <Result Column="USE_YN" Property="UseYn" />
    </ResultMap>
  </ResultMaps>

  <Statements>

    <!-- 코드 목록을 조회한다. -->
    <Statement Id="ListCode" ResultMap="CodeResultMap">
      /* CodeMapper.ListCode */

      WITH RECURSIVE R AS (
        SELECT
          CD.CODE_ID,
          CD.UP_CODE_ID,
          CD.CODE_VALUE,
          CD.CODE_NAME,
          CD.CODE_CONTENT,
          CD.CODE_ORDER,
          CAST(CD.CODE_ORDER AS CHAR(200)) AS SORT_ORDER,
          CD.CODE_DEPTH,
          CD.USE_YN,
          CD.USER_ID
        FROM CO_CODE CD
        WHERE CD.UP_CODE_ID IS NULL
        UNION ALL
        SELECT
          CD.CODE_ID,
          CD.UP_CODE_ID,
          CD.CODE_VALUE,
          CD.CODE_NAME,
          CD.CODE_CONTENT,
          CD.CODE_ORDER,
          CONCAT(R.SORT_ORDER, '-', LPAD(CD.CODE_ORDER, 5, '0')) AS SORT_ORDER,
          CD.CODE_DEPTH,
          CD.USE_YN,
          CD.USER_ID
        FROM CO_CODE CD
        INNER JOIN R ON CD.UP_CODE_ID = R.CODE_ID
      )
      SELECT
        R.CODE_ID,
        R.UP_CODE_ID,
        R.CODE_VALUE,
        R.CODE_NAME,
        R.CODE_CONTENT,
        R.CODE_ORDER,
        R.CODE_DEPTH,
        R.USE_YN,
        R.USER_ID
      FROM R
      WHERE R.USER_ID IS NULL
      ORDER BY
        CAST(SUBSTRING_INDEX(R.SORT_ORDER, '-', 1) AS UNSIGNED),
        CASE
          WHEN R.SORT_ORDER LIKE '%-%' THEN CAST(SUBSTRING_INDEX(R.SORT_ORDER, '-', -1) AS UNSIGNED)
          ELSE 0
        END
    </Statement>

    <!-- 코드를 조회한다. -->
    <Statement Id="GetCode" ResultMap="CodeResultMap">
      /* CodeMapper.GetCode */

      SELECT
        CD.CODE_ID,
        CD.UP_CODE_ID,
        CD.CODE_VALUE,
        CD.CODE_NAME,
        CD.CODE_CONTENT,
        CD.CODE_ORDER,
        CD.CODE_DEPTH,
        CD.USE_YN,
        CD.USER_ID
      FROM CO_CODE CD
      WHERE CD.CODE_ID = @CodeId
    </Statement>

    <!-- 코드를 추가한다. -->
    <Statement Id="AddCode">
      /* CodeMapper.AddCode */

      INSERT INTO CO_CODE (
        CODE_ID,
        UP_CODE_ID,
        CODE_VALUE,
        CODE_NAME,
        CODE_CONTENT,
        CODE_ORDER,
        CODE_DEPTH,
        USE_YN,
        USER_ID,
        CREATER_ID
      )
      VALUES (
        @CodeId,
        @UpCodeId,
        @CodeValue,
        @CodeName,
        @CodeContent,
        IFNULL(@CodeOrder, (
          SELECT IFNULL(MAX(C.CODE_ORDER), 0) + 1
          FROM CO_CODE C
          WHERE 1=1
            <IsEmpty Property="UpCodeId">
            AND C.UP_CODE_ID IS NULL
            </IsEmpty>
            <IsNotEmpty Property="UpCodeId">
            AND C.UP_CODE_ID = @UpCodeId
            </IsNotEmpty>
        )),
        @CodeDepth,
        @UseYn,
        @UserId,
        @CreaterId
      )
      ;SELECT @CodeId
    </Statement>

    <!-- 코드를 수정한다. -->
    <Statement Id="UpdateCode">
      /* CodeMapper.UpdateCode */

      UPDATE CO_CODE
        SET
          CODE_ID = @CodeId,
          UP_CODE_ID = @UpCodeId,
          CODE_VALUE = @CodeValue,
          CODE_NAME = @CodeName,
          CODE_CONTENT = @CodeContent,
          CODE_ORDER = IFNULL(@CodeOrder, (
            SELECT IFNULL(MAX(C.CODE_ORDER), 0) + 1
            FROM CO_CODE C
            WHERE C.CODE_ID != @CodeId
              <IsEmpty Property="UpCodeId">
              AND C.UP_CODE_ID IS NULL
              </IsEmpty>
              <IsNotEmpty Property="UpCodeId">
              AND C.UP_CODE_ID = @UpCodeId
              </IsNotEmpty>
          )),
          CODE_DEPTH = @CodeDepth,
          USE_YN = @UseYn,
          UPDATER_ID = @UpdaterId,
          UPDATE_DT = SYSDATE()
      WHERE CODE_ID = @OriginalCodeId
    </Statement>

    <!-- 코드를 삭제한다. -->
    <Statement Id="RemoveCode">
      /* CodeMapper.RemoveCode */

      DELETE FROM CO_CODE
      WHERE CODE_ID = @CodeId
    </Statement>
    
  </Statements>
</SmartSqlMap>