<?xml version="1.0" encoding="utf-8" ?>

<SmartSqlMap Scope="CompanyMapper" xmlns="http://SmartSql.net/schemas/SmartSqlMap.xsd">
  <ResultMaps>
    <ResultMap Id="CompanyResultMap">
      <Result Column="COMPANY_ID" Property="CompanyId" />
      <Result Column="CORPORATE_NAME" Property="CorporateName" />
      <Result Column="COMPANY_NAME" Property="CompanyName" />
      <Result Column="REGISTRATION_NO" Property="RegistrationNo" />
      <Result Column="DELETE_YN" Property="DeleteYn" />
    </ResultMap>
  </ResultMaps>

  <Statements>

    <!-- 회사 목록을 조회한다. -->
    <Statement Id="ListCompany" ResultMap="CompanyResultMap">
      /* CompanyMapper.ListCompany */

      SELECT
        C.COMPANY_ID,
        C.CORPORATE_NAME,
        C.COMPANY_NAME,
        C.REGISTRATION_NO,
        C.DELETE_YN
      FROM HM_COMPANY C
      WHERE C.DELETE_YN = @DeleteYn
        <IsNotEmpty Property="CompanyName">
        AND (
          C.CORPORATE_NAME LIKE CONCAT('%', @CompanyName, '%')
          OR C.COMPANY_NAME LIKE CONCAT('%', @CompanyName, '%')
        )
        </IsNotEmpty>
        <IsNotEmpty Property="RegistrationNo">
        AND C.REGISTRATION_NO LIKE CONCAT('%', @RegistrationNo, '%')
        </IsNotEmpty>
      ORDER BY C.CORPORATE_NAME, C.COMPANY_NAME
    </Statement>

    <!-- 회사 정보가 존재하는지 확인한다. -->
    <Statement Id="CountCompany">
      /* CompanyMapper.CountCompany */

      SELECT
        COUNT(1)
      FROM HM_COMPANY C
      WHERE 1=1
        <IsNotEmpty Property="CompanyId">
        AND C.COMPANY_ID = @CompanyId
        </IsNotEmpty>
        <IsNotEmpty Property="RegistrationNo">
        AND C.REGISTRATION_NO = @RegistrationNo
        </IsNotEmpty>
    </Statement>

    <!-- 회사를 추가한다. -->
    <Statement Id="AddCompany">
      /* CompanyMapper.AddCompany */

      INSERT INTO HM_COMPANY (
        REGISTRATION_NO,
        CORPORATE_NAME,
        COMPANY_NAME,
        CREATER_ID
      )
      VALUES (
        REPLACE(@RegistrationNo, '-', ''),
        @CorporateName,
        @CompanyName,
        @CreaterId
      )
      ;SELECT LAST_INSERT_ID()
    </Statement>
    
  </Statements>
</SmartSqlMap>