<?xml version="1.0" encoding="utf-8" ?>

<SmartSqlMap Scope="MenuRoleMapper" xmlns="http://SmartSql.net/schemas/SmartSqlMap.xsd">
  <ResultMaps>
    <ResultMap Id="MenuRoleResultMap">
      <Result Column="MENU_ID" Property="MenuId" />
      <Result Column="ROLE_ID" Property="RoleId" />
      <Result Column="ROLE_NAME" Property="RoleName" />
    </ResultMap>
  </ResultMaps>

  <Statements>

    <!-- 메뉴 권한 목록을 조회한다. -->
    <Statement Id="ListMenuRole" ResultMap="MenuRoleResultMap">
      /* MenuRoleMapper.ListMenuRole */

      SELECT
        MR.MENU_ID,
        MR.ROLE_ID,
        R.ROLE_NAME
      FROM CO_MENU_ROLE MR
      <IsNotEmpty Property="UserId">
      INNER JOIN CO_USER_ROLE UR ON UR.ROLE_ID = MR.ROLE_ID
      </IsNotEmpty>
      <IsNotEmpty Property="MenuId">
      INNER JOIN CO_ROLE R ON R.ROLE_ID = MR.ROLE_ID
      </IsNotEmpty>
      WHERE 1=1
        <IsNotEmpty Property="UserId">
        AND UR.USER_ID = @UserId
        </IsNotEmpty>
        <IsNotEmpty Property="MenuId">
        AND MR.MENU_ID = @MenuId
        </IsNotEmpty>
    </Statement>
    
  </Statements>
</SmartSqlMap>