<?xml version="1.0" encoding="utf-8" ?>

<SmartSqlMap Scope="PayslipMapper" xmlns="http://SmartSql.net/schemas/SmartSqlMap.xsd">
  <ResultMaps>
    <ResultMap Id="PayslipResultMap">
      <Result Column="PAYSLIP_ID" Property="PayslipId" />
      <Result Column="EMPLOYEE_ID" Property="EmployeeId" />
      <Result Column="WORK_HISTORY_ID" Property="WorkHistoryId" />
      <Result Column="PAYSLIP_PAYMENT_YMD" Property="PayslipPaymentYmd" />
      <Result Column="PAYSLIP_NOTE" Property="PayslipNote" />
      <Result Column="RANK_CODE" Property="RankCode" />
      <Result Column="RANK_CODE_NAME" Property="RankCodeName" />
      <Result Column="JOIN_YMD" Property="JoinYmd" />
      <Result Column="TOTAL_AMOUNT_A00" Property="TotalAmountA00" />
      <Result Column="TOTAL_AMOUNT_B00" Property="TotalAmountB00" />
      <Result Column="TOTAL_AMOUNT" Property="TotalAmount" />
      <Result Column="PREV_NEXT_FLAG" Property="PrevNextFlag" />
    </ResultMap>
  </ResultMaps>

  <Statements>

    <!-- 급여명세서 목록을 조회한다. -->
    <Statement Id="ListPayslip" ResultMap="PayslipResultMap">
      /* PayslipMapper.ListPayslip */

      WITH SALARY_AMOUNT_BASE AS (
        SELECT
          P.PAYSLIP_ID,
          PD.SALARY_TYPE_CODE,
          SUM(PD.SALARY_AMOUNT) AS TOTAL_AMOUNT
        FROM SA_PAYSLIP P
        LEFT JOIN SA_PAYSLIP_SALARY_DETAIL PD ON PD.PAYSLIP_ID = P.PAYSLIP_ID
        WHERE PD.SALARY_AMOUNT IS NOT NULL
        GROUP BY P.PAYSLIP_ID, PD.SALARY_TYPE_CODE
      )
      SELECT
        P.PAYSLIP_ID,
        P.EMPLOYEE_ID,
        P.WORK_HISTORY_ID,
        P.PAYSLIP_PAYMENT_YMD,
        CASE WHEN CHAR_LENGTH(P.PAYSLIP_NOTE) &gt; 100 THEN CONCAT(SUBSTRING(P.PAYSLIP_NOTE, 1, 100), '...')
             ELSE IFNULL(P.PAYSLIP_NOTE, '-')
        END AS PAYSLIP_NOTE,
        FORMAT(IFNULL(SUM(A00.TOTAL_AMOUNT), 0), 0) AS TOTAL_AMOUNT_A00,
        FORMAT(IFNULL(SUM(B00.TOTAL_AMOUNT), 0), 0) AS TOTAL_AMOUNT_B00,
        FORMAT(IFNULL(SUM(A00.TOTAL_AMOUNT), 0) - IFNULL(SUM(B00.TOTAL_AMOUNT), 0), 0) AS TOTAL_AMOUNT
      FROM SA_PAYSLIP P
      LEFT JOIN SALARY_AMOUNT_BASE A00 ON A00.PAYSLIP_ID = P.PAYSLIP_ID AND A00.SALARY_TYPE_CODE = 'A00'
      LEFT JOIN SALARY_AMOUNT_BASE B00 ON B00.PAYSLIP_ID = P.PAYSLIP_ID AND B00.SALARY_TYPE_CODE = 'B00'
      WHERE P.DELETE_YN = 'N'
        AND P.WORK_HISTORY_ID = ?WorkHistoryId
        <IsNotEmpty Property="EmployeeId">
        AND P.EMPLOYEE_ID = ?EmployeeId
        </IsNotEmpty>
        <IsNotEmpty Property="PayslipPaymentYYYY">
        AND DATE_FORMAT(P.PAYSLIP_PAYMENT_YMD, '%Y') = ?PayslipPaymentYYYY
        </IsNotEmpty>
        <IsNotEmpty Property="PayslipPaymentMM">
        AND DATE_FORMAT(P.PAYSLIP_PAYMENT_YMD, '%m') = ?PayslipPaymentMM
        </IsNotEmpty>
      GROUP BY P.PAYSLIP_ID
      ORDER BY P.EMPLOYEE_ID DESC, P.PAYSLIP_PAYMENT_YMD DESC
    </Statement>

    <!-- 이전/다음 급여명세서 목록을 조회한다. -->
    <Statement Id="ListPrevNextPayslip" ResultMap="PayslipResultMap">
      /* PayslipMapper.ListPrevNextPayslip */

      SELECT
        P1.PAYSLIP_ID,
        P1.PAYSLIP_PAYMENT_YMD,
        P1.PREV_NEXT_FLAG
      FROM SA_PAYSLIP P
      INNER JOIN (
        (SELECT
          PAYSLIP_ID, PAYSLIP_PAYMENT_YMD, 'PREV' AS PREV_NEXT_FLAG
        FROM SA_PAYSLIP
        WHERE PAYSLIP_PAYMENT_YMD &lt; ?PayslipPaymentYmd
          AND WORK_HISTORY_ID = ?WorkHistoryId
          AND DELETE_YN = 'N'
        ORDER BY EMPLOYEE_ID DESC, PAYSLIP_PAYMENT_YMD DESC LIMIT 1)

        UNION ALL
        
        (SELECT
          PAYSLIP_ID, PAYSLIP_PAYMENT_YMD, 'NEXT' AS PREV_NEXT_FLAG
        FROM SA_PAYSLIP
        WHERE PAYSLIP_PAYMENT_YMD &gt; ?PayslipPaymentYmd
          AND WORK_HISTORY_ID = ?WorkHistoryId
          AND DELETE_YN = 'N'
          ORDER BY EMPLOYEE_ID, PAYSLIP_PAYMENT_YMD LIMIT 1)
      ) P1 ON P1.PAYSLIP_ID = P.PAYSLIP_ID
    </Statement>

    <!-- 급여명세서를 조회한다. -->
    <Statement Id="GetPayslip" ResultMap="PayslipResultMap">
      /* PayslipMapper.GetPayslip */

      SELECT
        P.PAYSLIP_ID,
        P.EMPLOYEE_ID,
        P.WORK_HISTORY_ID,
        P.PAYSLIP_PAYMENT_YMD,
        IFNULL(P.PAYSLIP_NOTE, '-') AS PAYSLIP_NOTE,
        P.RANK_CODE,
        CD.CODE_NAME AS RANK_CODE_NAME,
        H.JOIN_YMD
      FROM SA_PAYSLIP P
      LEFT JOIN HM_WORK_HISTORY H ON H.WORK_HISTORY_ID = P.WORK_HISTORY_ID
      LEFT JOIN CO_CODE CD ON CD.CODE_VALUE = P.RANK_CODE AND CD.UP_CODE_ID = 'RANK_00'
      WHERE P.PAYSLIP_ID = ?PayslipId
    </Statement>

    <!-- 급여명세서를 추가한다. -->
    <Statement Id="AddPayslip">
      /* PayslipMapper.AddPayslip */

      INSERT INTO SA_PAYSLIP (
        EMPLOYEE_ID,
        WORK_HISTORY_ID,
        PAYSLIP_PAYMENT_YMD,
        PAYSLIP_NOTE,
        RANK_CODE,
        CREATER_ID
      )
      VALUES (
        ?EmployeeId,
        ?WorkHistoryId,
        REPLACE(?PayslipPaymentYmd, '-', ''),
        CASE ?PayslipNote WHEN '' THEN NULL ELSE ?PayslipNote END,
        ?RankCode,
        ?CreaterId
      )
      ;SELECT LAST_INSERT_ID()
    </Statement>
    
  </Statements>
</SmartSqlMap>