<?xml version="1.0" encoding="utf-8" ?>

<SmartSqlMap Scope="VacationMapper" xmlns="http://SmartSql.net/schemas/SmartSqlMap.xsd">
  <ResultMaps>
    <ResultMap Id="VacationResultMap">
      <Result Column="VACATION_ID" Property="VacationId" />
      <Result Column="EMPLOYEE_ID" Property="EmployeeId" />
      <Result Column="WORK_HISTORY_ID" Property="WorkHistoryId" />
      <Result Column="VACATION_TYPE_CODE" Property="VacationTypeCode" />
      <Result Column="VACATION_TYPE_CODE_NAME" Property="VacationTypeCodeName" />
      <Result Column="VACATION_CONTENT" Property="VacationContent" />
      <Result Column="VACATION_START_YMD" Property="VacationStartYmd" />
      <Result Column="VACATION_END_YMD" Property="VacationEndYmd" />
      <Result Column="VACATION_USE_COUNT" Property="VacationUseCount" />
      <Result Column="DELETE_YN" Property="DeleteYn" />
    </ResultMap>

    <ResultMap Id="VacationCountInfoResultMap">
      <Result Column="VACATION_TOTAL_COUNT" Property="VacationTotalCount" />
      <Result Column="VACATION_USE_COUNT" Property="VacationUseCount" />
      <Result Column="VACATION_REMAIN_COUNT" Property="VacationRemainCount" />
    </ResultMap>

    <ResultMap Id="VacationByMonthResultMap">
      <Result Column="VACATION_USE_COUNT" Property="VacationUseCount" />
      <Result Column="VACATION_MONTH" Property="VacationMonth" />
    </ResultMap>
  </ResultMaps>

  <Statements>

    <!-- 휴가 목록을 조회한다. -->
    <Statement Id="ListVacation" ResultMap="VacationResultMap">
      /* VacationMapper.ListVacation */

      SELECT
        V.VACATION_ID,
        V.EMPLOYEE_ID,
        V.WORK_HISTORY_ID,
        V.VACATION_TYPE_CODE,
        CD.CODE_NAME AS VACATION_TYPE_CODE_NAME,
        V.VACATION_CONTENT,
        V.VACATION_START_YMD,
        V.VACATION_END_YMD,
        V.VACATION_USE_COUNT,
        V.DELETE_YN
      FROM HM_VACATION V
      LEFT JOIN CO_CODE CD ON CD.CODE_VALUE =  V.VACATION_TYPE_CODE AND CD.UP_CODE_ID = 'VACATION_TYPE_00'
      WHERE V.DELETE_YN = 'N'
        AND V.WORK_HISTORY_ID = ?WorkHistoryId
        <IsNotEmpty Property="VacationStartYmd">
        AND V.VACATION_START_YMD &gt;= ?VacationStartYmd
        </IsNotEmpty>
        <IsNotEmpty Property="VacationEndYmd">
        AND V.VACATION_END_YMD &lt;= ?VacationEndYmd
        </IsNotEmpty>
      ORDER BY V.VACATION_START_YMD DESC, V.VACATION_END_YMD DESC
    </Statement>

    <!-- 휴가를 조회한다. -->
    <Statement Id="GetVacation" ResultMap="VacationResultMap">
      /* VacationMapper.GetVacation */

      SELECT
        V.VACATION_ID,
        V.EMPLOYEE_ID,
        V.WORK_HISTORY_ID,
        V.VACATION_TYPE_CODE,
        V.VACATION_CONTENT,
        V.VACATION_START_YMD,
        V.VACATION_END_YMD,
        V.VACATION_USE_COUNT,
        V.DELETE_YN
      FROM HM_VACATION V
      WHERE V.DELETE_YN = 'N'
        AND V.VACATION_ID = ?VacationId
    </Statement>

    <!-- 휴가를 추가한다. -->
    <Statement Id="AddVacation">
      /* VacationMapper.AddVacation */

      INSERT INTO HM_VACATION (
        EMPLOYEE_ID,
        WORK_HISTORY_ID,
        VACATION_TYPE_CODE,
        VACATION_CONTENT,
        VACATION_START_YMD,
        VACATION_END_YMD,
        VACATION_USE_COUNT,
        CREATER_ID
      )
      VALUES (
        ?EmployeeId,
        ?WorkHistoryId,
        ?VacationTypeCode,
        ?VacationContent,
        ?VacationStartYmd,
        ?VacationEndYmd,
        IFNULL(
          ?VacationUseCount,
          FN_GET_VACATION_USE_COUNT(?VacationStartYmd, ?VacationEndYmd, ?VacationTypeCode, ?CreaterId)
        ),
        ?CreaterId
      )
      ;SELECT LAST_INSERT_ID()
    </Statement>

    <!-- 휴가를 수정한다. -->
    <Statement Id="UpdateVacation">
      /* VacationMapper.UpdateVacation */

      UPDATE HM_VACATION
        SET
          VACATION_TYPE_CODE = ?VacationTypeCode,
          VACATION_CONTENT = ?VacationContent,
          VACATION_START_YMD = ?VacationStartYmd,
          VACATION_END_YMD = ?VacationEndYmd,
          VACATION_USE_COUNT = IFNULL(
            ?VacationUseCount,
            FN_GET_VACATION_USE_COUNT(?VacationStartYmd, ?VacationEndYmd, ?VacationTypeCode, ?UpdaterId)
          ),
          UPDATER_ID = ?UpdaterId,
          UPDATE_DT = SYSDATE()
      WHERE VACATION_ID = ?VacationId
    </Statement>

    <!-- 휴가를 삭제한다. -->
    <Statement Id="RemoveVacation">
      /* VacationMapper.RemoveVacation */

      UPDATE HM_VACATION
        SET
          DELETE_YN = 'Y',
          UPDATER_ID = ?UpdaterId,
          UPDATE_DT = SYSDATE()
      WHERE VACATION_ID = ?VacationId
    </Statement>

    <!-- 휴가일수정보를 조회한다. -->
    <Statement Id="GetVacationCountInfo" ResultMap="VacationCountInfoResultMap">
      /* VacationMapper.GetVacationCountInfo */

      WITH VACATION_CALC AS (
        SELECT
          VC.WORK_HISTORY_ID,
          VC.VACATION_TYPE_CODE
        FROM HM_VACATION_CALC VC
        LEFT JOIN HM_WORK_HISTORY H ON H.WORK_HISTORY_ID = VC.WORK_HISTORY_ID
        WHERE VC.WORK_HISTORY_ID = ?WorkHistoryId
          AND VC.ANNUAL_TYPE_CODE = FN_GET_ANNUAL_TYPE_CODE(H.JOIN_YMD, H.QUIT_YMD)
      )
      SELECT
        IFNULL(T.VACATION_USE_COUNT, 0) AS VACATION_USE_COUNT,
        IFNULL(FN_GET_VACATION_TOTAL_COUNT(T.JOIN_YMD, T.QUIT_YMD, T.ANNUAL_TYPE_CODE), 0) AS VACATION_TOTAL_COUNT,
        IFNULL(FN_GET_VACATION_REMAIN_COUNT(T.JOIN_YMD, T.QUIT_YMD, T.ANNUAL_TYPE_CODE, IFNULL(T.VACATION_USE_COUNT, 0)), 0) AS VACATION_REMAIN_COUNT
      FROM (
        SELECT
          H.JOIN_YMD,
          H.QUIT_YMD,
          V.VACATION_START_YMD,
          V.VACATION_END_YMD,
          V.VACATION_TYPE_CODE,
          FN_GET_ANNUAL_TYPE_CODE(H.JOIN_YMD, H.QUIT_YMD) AS ANNUAL_TYPE_CODE,
          SUM(FN_GET_VACATION_USE_COUNT(V.VACATION_START_YMD, V.VACATION_END_YMD, V.VACATION_TYPE_CODE, ?UserId)) AS VACATION_USE_COUNT
        FROM HM_VACATION V
        LEFT JOIN (
          SELECT
            H1.WORK_HISTORY_ID,
            IFNULL(H1.JOIN_YMD, (SELECT JOIN_YMD FROM HM_WORK_HISTORY WHERE WORK_HISTORY_ID = ?WorkHistoryId)) AS JOIN_YMD,
            IFNULL(H1.QUIT_YMD, (SELECT QUIT_YMD FROM HM_WORK_HISTORY WHERE WORK_HISTORY_ID = ?WorkHistoryId)) AS QUIT_YMD
          FROM HM_WORK_HISTORY H1
          WHERE H1.DELETE_YN = 'N'
        ) H ON H.WORK_HISTORY_ID = V.WORK_HISTORY_ID
        LEFT JOIN VACATION_CALC VC ON VC.WORK_HISTORY_ID = H.WORK_HISTORY_ID
        WHERE V.DELETE_YN = 'N'
          AND H.WORK_HISTORY_ID = ?WorkHistoryId
          AND (V.VACATION_TYPE_CODE = VC.VACATION_TYPE_CODE OR VC.VACATION_TYPE_CODE IS NULL)
      ) T
    </Statement>

    <!-- 월별 휴가사용일수 목록을 조회한다. -->
    <Statement Id="ListVacationByMonth" ResultMap="VacationByMonthResultMap">
      /* VacationMapper.ListVacationByMonth */

      WITH RECURSIVE MONTH_RANGE AS (
        SELECT DATE(CONCAT(?YYYY, '-01-01')) AS YMD
        UNION ALL
        SELECT DATE_ADD(YMD, INTERVAL 1 MONTH) 
        FROM MONTH_RANGE 
        WHERE DATE_ADD(YMD, INTERVAL 1 MONTH) &lt;= DATE(CONCAT(?YYYY, '-12-31'))
      )
      SELECT
        IFNULL(SUM(V.VACATION_USE_COUNT), 0) AS VACATION_USE_COUNT,
        DATE_FORMAT(MR.YMD, '%m') AS VACATION_MONTH
      FROM MONTH_RANGE MR
      LEFT JOIN (
      	SELECT
      		V1.VACATION_END_YMD,
      		V1.VACATION_USE_COUNT
      	FROM HM_VACATION V1
      	WHERE V1.WORK_HISTORY_ID = ?WorkHistoryId
         AND V1.VACATION_TYPE_CODE = ?VacationTypeCode
         AND DATE_FORMAT(V1.VACATION_END_YMD, '%Y') = ?YYYY
      ) V ON MONTH(V.VACATION_END_YMD) = MONTH(MR.YMD) AND YEAR(V.VACATION_END_YMD) = YEAR(MR.YMD)
      GROUP BY MR.YMD
      ORDER BY MR.YMD
    </Statement>
    
  </Statements>
</SmartSqlMap>