<?xml version="1.0" encoding="utf-8" ?>

<SmartSqlMap Scope="BoardMapper" xmlns="http://SmartSql.net/schemas/SmartSqlMap.xsd">
  <ResultMaps>
    <ResultMap Id="BoardResultMap">
      <Result Column="BOARD_ID" Property="BoardId" />
      <Result Column="BOARD_NAME" Property="BoardName" />
      <Result Column="BOARD_CONTENT" Property="BoardContent" />
      <Result Column="BOARD_TYPE_CODE" Property="BoardTypeCode" />
      <Result Column="BOARD_TYPE_CODE_NAME" Property="BoardTypeCodeName" />
      <Result Column="BOARD_ORDER" Property="BoardOrder" />
      <Result Column="MAIN_SHOW_YN" Property="MainShowYn" />
      <Result Column="USE_YN" Property="UseYn" />
      <Result Column="ARTICLE_COUNT" Property="ArticleCount" />
    </ResultMap>
  </ResultMaps>

  <Statements>

    <!-- 게시판 목록을 조회한다. -->
    <Statement Id="ListBoard" ResultMap="BoardResultMap">
      /* BoardMapper.ListBoard */

      SELECT
        B.BOARD_ID,
        B.BOARD_NAME,
        B.BOARD_CONTENT,
        B.BOARD_TYPE_CODE,
        CD.CODE_NAME AS BOARD_TYPE_CODE_NAME,
        B.BOARD_ORDER,
        B.MAIN_SHOW_YN,
        B.USE_YN,
        COUNT(1) AS ARTICLE_COUNT
      FROM CO_BOARD B
      LEFT JOIN (
        SELECT A.BOARD_ID
        FROM CO_ARTICLE A
        WHERE A.DELETE_YN = 'N'
      ) B1 ON B1.BOARD_ID = B.BOARD_ID
      LEFT JOIN CO_CODE CD ON CD.CODE_VALUE = B.BOARD_TYPE_CODE AND CD.UP_CODE_ID = 'BOARD_TYPE_00'
      WHERE B.DELETE_YN = 'N'
      GROUP BY B.BOARD_ID
      ORDER BY B.BOARD_NAME
    </Statement>

    <!-- 메인화면 게시판 목록을 조회한다. -->
    <Statement Id="ListMainBoard" ResultMap="BoardResultMap">
      /* BoardMapper.ListMainBoard */

      SELECT
        B.BOARD_ID,
        B.BOARD_NAME,
        B.BOARD_CONTENT,
        B.BOARD_TYPE_CODE,
        CD.CODE_NAME AS BOARD_TYPE_CODE_NAME,
        B.BOARD_ORDER,
        B.MAIN_SHOW_YN,
        B.USE_YN
      FROM CO_BOARD B
      LEFT JOIN CO_CODE CD ON CD.CODE_VALUE = B.BOARD_TYPE_CODE AND CD.UP_CODE_ID = 'BOARD_TYPE_00'
      WHERE B.DELETE_YN = 'N'
        AND B.MAIN_SHOW_YN = 'Y'
        AND B.USE_YN = 'Y'
      ORDER BY B.BOARD_ORDER, B.BOARD_NAME
    </Statement>

    <!-- 게시판을 조회한다. -->
    <Statement Id="GetBoard" ResultMap="BoardResultMap">
      /* BoardMapper.GetBoard */

      SELECT
        B.BOARD_ID,
        B.BOARD_NAME,
        B.BOARD_CONTENT,
        B.BOARD_TYPE_CODE,
        B.BOARD_ORDER,
        B.MAIN_SHOW_YN,
        B.USE_YN
      FROM CO_BOARD B
      WHERE B.BOARD_ID = ?BoardId
    </Statement>

    <!-- 게시판을 추가한다. -->
    <Statement Id="AddBoard">
      /* BoardMapper.AddBoard */

      INSERT INTO CO_BOARD (
        BOARD_NAME,
        BOARD_CONTENT,
        BOARD_TYPE_CODE,
        BOARD_ORDER,
        MAIN_SHOW_YN,
        USE_YN,
        CREATER_ID
      )
      VALUES (
        ?BoardName,
        ?BoardContent,
        ?BoardTypeCode,
        IFNULL(?BoardOrder, (
          SELECT IFNULL(MAX(B.BOARD_ORDER), 0) + 1
          FROM CO_BOARD B
        )),
        ?MainShowYn,
        ?UseYn,
        ?CreaterId
      )
      ;SELECT LAST_INSERT_ID()
    </Statement>

    <!-- 게시판을 수정한다. -->
    <Statement Id="UpdateBoard">
      /* BoardMapper.UpdateBoard */

      UPDATE CO_BOARD
        SET
          BOARD_NAME = ?BoardName,
          BOARD_CONTENT = ?BoardContent,
          BOARD_TYPE_CODE = ?BoardTypeCode,
          BOARD_ORDER = IFNULL(?BoardOrder, (
            SELECT IFNULL(MAX(B.BOARD_ORDER), 0) + 1
            FROM CO_BOARD B
            WHERE B.BOARD_ID != ?BoardId
          )),
          MAIN_SHOW_YN = ?MainShowYn,
          USE_YN = ?UseYn,
          UPDATER_ID = ?UpdaterId,
          UPDATE_DT = SYSDATE()
      WHERE BOARD_ID = ?BoardId
    </Statement>

    <!-- 게시판을 삭제한다. -->
    <Statement Id="RemoveBoard">
      /* BoardMapper.RemoveBoard */

      UPDATE CO_BOARD
        SET
          DELETE_YN = 'Y',
          UPDATER_ID = ?UpdaterId,
          UPDATE_DT = SYSDATE()
      WHERE BOARD_ID = ?BoardId
    </Statement>
    
  </Statements>
</SmartSqlMap>