<?xml version="1.0" encoding="utf-8" ?>

<SmartSqlMap Scope="MenuMapper" xmlns="http://SmartSql.net/schemas/SmartSqlMap.xsd">
  <ResultMaps>
    <ResultMap Id="MenuResultMap">
      <Result Column="MENU_ID" Property="MenuId" />
      <Result Column="UP_MENU_ID" Property="UpMenuId" />
      <Result Column="MENU_NAME" Property="MenuName" />
      <Result Column="MENU_URL" Property="MenuUrl" />
      <Result Column="MENU_ORDER" Property="MenuOrder" />
      <Result Column="MENU_DEPTH" Property="MenuDepth" />
      <Result Column="MENU_SHOW_YN" Property="MenuShowYn" />
      <Result Column="USE_YN" Property="UseYn" />
      <Result Column="DELETE_YN" Property="DeleteYn" />
      <Result Column="MENU_BOOKMARK_ID" Property="MenuBookmarkId" />
    </ResultMap>
  </ResultMaps>

  <Statements>

    <!-- 메뉴 목록을 조회한다. -->
    <Statement Id="ListMenu" ResultMap="MenuResultMap">
      /* MenuMapper.ListMenu */

      WITH RECURSIVE R AS (
        SELECT
          M.MENU_ID,
          M.UP_MENU_ID,
          M.MENU_NAME,
          M.MENU_URL,
          M.MENU_ORDER,
          M.MENU_DEPTH,
          CAST(M.MENU_ORDER AS CHAR(200)) AS SORT_ORDER,
          M.MENU_SHOW_YN,
          M.USE_YN,
          M.DELETE_YN
        FROM CO_MENU M
        WHERE M.UP_MENU_ID IS NULL
        UNION ALL
        SELECT
          M.MENU_ID,
          M.UP_MENU_ID,
          M.MENU_NAME,
          M.MENU_URL,
          M.MENU_ORDER,
          M.MENU_DEPTH,
          CONCAT(R.SORT_ORDER, '-', LPAD(M.MENU_ORDER, 5, '0')) AS SORT_ORDER,
          M.MENU_SHOW_YN,
          M.USE_YN,
          M.DELETE_YN
        FROM CO_MENU M
        INNER JOIN R ON M.UP_MENU_ID = R.MENU_ID
      )
      SELECT
        R.MENU_ID,
        R.UP_MENU_ID,
        R.MENU_NAME,
        R.MENU_URL,
        R.MENU_ORDER,
        R.MENU_DEPTH,
        R.MENU_SHOW_YN,
        R.USE_YN,
        R.DELETE_YN,
        MB.MENU_BOOKMARK_ID
      FROM R
      LEFT JOIN CO_MENU_BOOKMARK MB ON MB.MENU_ID = R.MENU_ID
        <IsNotEmpty Property="UserId">
        AND MB.USER_ID = ?UserId
        </IsNotEmpty>
      WHERE R.MENU_ID IN (
        SELECT
          MR.MENU_ID
        FROM CO_MENU_ROLE MR
        INNER JOIN CO_USER_MENU_ROLE UMR ON MR.MENU_ID = UMR.MENU_ID AND MR.ROLE_ID = UMR.ROLE_ID
        WHERE 1=1
          <IsNotEmpty Property="UserId">
          AND UMR.USER_ID = ?UserId
          </IsNotEmpty>
          <IsNotEmpty Property="RoleIdList">
          AND MR.ROLE_ID IN 
            <For Property="RoleIdList" Key="roleId" Open="(" Separator="," Close=")">
              ?roleId
            </For>
          </IsNotEmpty>
      )
        <IsNotEmpty Property="UseYn">
        AND R.USE_YN = ?UseYn
        </IsNotEmpty>
        AND R.DELETE_YN = ?DeleteYn
        ORDER BY
          CAST(SUBSTRING_INDEX(R.SORT_ORDER, '-', 1) AS UNSIGNED),
          CASE
            WHEN R.SORT_ORDER LIKE '%-%' THEN CAST(SUBSTRING_INDEX(R.SORT_ORDER, '-', -1) AS UNSIGNED)
            ELSE 0
          END
    </Statement>

    <!-- 메뉴를 조회한다. -->
    <Statement Id="GetMenu" ResultMap="MenuResultMap">
      /* MenuMapper.GetMenu */

      SELECT
        M.MENU_ID,
        M.UP_MENU_ID,
        M.MENU_NAME,
        M.MENU_URL,
        M.MENU_ORDER,
        M.MENU_DEPTH,
        M.MENU_SHOW_YN,
        M.USE_YN,
        M.DELETE_YN
      FROM CO_MENU M
      WHERE M.MENU_ID = ?MenuId
    </Statement>

    <!-- 가장 최신의 메뉴 ID를 조회한다. -->
    <Statement Id="GetMaxMenuId">
      /* MenuMapper.GetMaxMenuId */

      SELECT MAX(M.MENU_ID)
      FROM CO_MENU M
      WHERE M.MENU_ID IS NOT NULL
    </Statement>

    <!-- 메뉴를 추가한다. -->
    <Statement Id="AddMenu">
      /* MenuMapper.AddMenu */

      INSERT INTO CO_MENU (
        MENU_ID,
        UP_MENU_ID,
        MENU_NAME,
        MENU_URL,
        MENU_ORDER,
        MENU_DEPTH,
        MENU_SHOW_YN,
        USE_YN,
        CREATER_ID
      )
      VALUES (
        IFNULL(?MenuId, (SELECT IFNULL(MAX(M.MENU_ID), 0) + 1 FROM CO_MENU M)),
        ?UpMenuId,
        ?MenuName,
        ?MenuUrl,
        IFNULL(?MenuOrder, (
          SELECT IFNULL(MAX(M.MENU_ORDER), 0) + 1
          FROM CO_MENU M
          WHERE 1=1
            <IsEmpty Property="UpMenuId">
            AND M.UP_MENU_ID IS NULL
            </IsEmpty>
            <IsNotEmpty Property="UpMenuId">
            AND M.UP_MENU_ID = ?UpMenuId
            </IsNotEmpty>
        )),
        ?MenuDepth,
        ?MenuShowYn,
        ?UseYn,
        ?CreaterId
      )
    </Statement>

    <!-- 메뉴를 수정한다. -->
    <Statement Id="UpdateMenu">
      /* MenuMapper.UpdateMenu */

      UPDATE CO_MENU
        SET
          MENU_ID = ?MenuId,
          UP_MENU_ID = ?UpMenuId,
          MENU_NAME = ?MenuName,
          MENU_URL = ?MenuUrl,
          MENU_ORDER = IFNULL(?MenuOrder, (
            SELECT IFNULL(MAX(M.MENU_ORDER), 0) + 1
            FROM CO_MENU M
            WHERE M.MENU_ID != ?MenuId
              <IsEmpty Property="UpMenuId">
              AND M.UP_MENU_ID IS NULL
              </IsEmpty>
              <IsNotEmpty Property="UpMenuId">
              AND M.UP_MENU_ID = ?UpMenuId
              </IsNotEmpty>
          )),
          MENU_DEPTH = ?MenuDepth,
          MENU_SHOW_YN = ?MenuShowYn,
          USE_YN = ?UseYn,
          UPDATER_ID = ?UpdaterId,
          UPDATE_DT = SYSDATE()
      WHERE MENU_ID = ?OriginalMenuId
    </Statement>

    <!-- 메뉴를 삭제한다. -->
    <Statement Id="RemoveMenu">
      /* MenuMapper.RemoveMenu */

      UPDATE CO_MENU
        SET
          DELETE_YN = 'Y',
          UPDATER_ID = ?UpdaterId,
          UPDATE_DT = SYSDATE()
      WHERE MENU_ID = ?MenuId
    </Statement>
    
  </Statements>
</SmartSqlMap>